table {
  margin: 2rem;
  width: 90%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}

div {
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  display: block;
}

h1 {
  font-size: 3rem;
  padding: 2rem;

}

p {
  font-size: 2rem;
  padding-left: 2rem;
}